body {
    margin: 0;
    background-color: #f2f2f2;
}

/* text */
h1, h2, h3, h4, h5, h6{
    font-size:10vw;
}

p {
    font-size:5vw; 
}
header {
    background-color: white;
    padding: 10px;
}
.nav {
    background-color: white;
    padding: 10px;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
 }